<section
	class="mbr-section mbr-section--relative mbr-parallax-background"
	id="msg-box5-79" style="background-image: url(assets/images/adventure1.jpg);">
	<div class="mbr-overlay"
		style="opacity: 0.6; background-color: rgb(240, 240, 240);"></div>
		
	<div class="mbr-section__container" ng-controller="adventuresController">
		
		<div class="mbr-section__container mbr-section__container--std-padding container">
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="row">
	                    <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
	                        <br/>
	                        <br/>
	                        <form action="#" method="POST" >
	                            <div class="form-group col-sm-5">
	                                <input class="form-control" name="searchTextBox" placeholder="Search..."  type="text">
	                                
	                            </div>
	                            <div class="form-group col-sm-5">
	                                 <select class="form-control" name="Sprint">
										<option ng-repeat="adventure in houseAdventures">{{adventure.adventurename}}</option>

									</select>
								</div>
	                       
	                            <div class="mbr-buttons mbr-buttons--right col-sm-2"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-blue btn-warning">SEARCH</button></div>
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <!-- TABLE DEFINITION {https://codepen.io/anon/pen/oejZbJ}-->
	    <div class="mbr-section__container mbr-section__container--std-padding container">
	        <div class="row">
	            <div class="col-sm-12">
	            	<div id="table" class="mbr-table-editable">
						<table class="table">
						  	<tr>
							  	<th>Jira ID</th>
						      	<th>Title</th>
						      	<th>Status</th>
							   	<th>Developer</th>
							</tr>
							<tr ng-repeat="ticket in tickets">
								<td>{{ticket.jiraId}}</td>
							    <td>{{ticket.title}}</td>
							    <td>{{ticket.status}}</td>
							    <td>{{ticket.developers}}</td>
							</tr>
							<!-- This is our clonable table line -->
							<tr class="hide">
								<td contenteditable="true">Untitled</td>
							    <td contenteditable="true">undefined</td>
							    <td>
							    	<span class="table-remove glyphicon glyphicon-remove"></span>
								</td>
							    <td>
							    	<span class="table-up glyphicon glyphicon-arrow-up"></span>
							        <span class="table-down glyphicon glyphicon-arrow-down"></span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
  
    </div>
    
    
	
	
	
	
</section>