<div ng-controller="heroesController">
<div ng-repeat="hero in heroes | filter:{username:currentUser}">
<section
	class="mbr-section mbr-section--relative mbr-parallax-background"
	id="msg-box5-79" style="background-image: url(assets/images/town.jpg);">
	<div class="mbr-overlay"
		style="opacity: 0.7; background-color: rgb(159, 159, 159);"></div>
		
		<!-- Replace username with logged in user -->
	<div
		class="mbr-section__container mbr-section__container--isolated mbr-container">
		<div class="mbr-row">
			<div class="mbr-box mbr-box--fixed mbr-box--adapted" >
				<div
					class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left mbr-col-sm-6">
					<figure
						class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width">
						<img class="mbr-figure__img"
							ng-src="img/avatar/hero/{{currentHouseOfHero.domain}}/goc_{{hero.username}}.png">
					</figure>
				</div>
				<div
					class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left mbr-col-sm-6 mbr-section__right">
					<div class="mbr-section__container mbr-section__container--middle">
						<div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
							<h3 class="mbr-header__text">{{hero.name}}</h3>

						</div>
					</div>
					<div class="mbr-section__container mbr-section__container--middle " ng-repeat="level in heroLevels | filter:{level:hero.level}:true">
						<div
							class="mbr-article mbr-article--auto-align mbr-article--wysiwyg">
							<p class="mbr-p">Rank: {{level.name}}</p>
						</div>
					</div>
					<div class="mbr-section__container mbr-section__container--middle">
						<div
							class="mbr-article mbr-article--auto-align mbr-article--wysiwyg">
							<p class="mbr-p">EXP: {{hero.storyPoints}}</p>
						</div>
					</div>
					<div class="mbr-section__container mbr-section__container--middle">
						<div
							class="mbr-article mbr-article--auto-align mbr-article--wysiwyg">
							<p class="mbr-p">Maester Name:</p>
						</div>
					</div>

					<div class="mbr-buttons btn-inverse mbr-buttons--left">
						<a class="mbr-buttons__btn btn btn-lg mbr-btn-default animated"
							data-toggle="modal" data-target="#modal2">Customize Hero</a>
						<!-- <a class="mbr-buttons__btn btn btn-lg mbr-btn-default animated" href="https://mobirise.com/bootstrap-template/">View Hero Details</a>  -->
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="modal2" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 120px">
			<div class="modal-content modal-popup">
				<h3 class="white">Hero Customization Screen</h3>
				<form name="userEntry" class="popup-form"></form>

			</div>
		</div>
	</div>
</section>



<section
	class="mbr-section mbr-section--relative mbr-section--fixed-size"
	id="msg-box5-25" style="background-color: rgb(159, 159, 159);">

	<div
		class="mbr-section__container container mbr-section__container--isolated">
		<div class="mbr-header mbr-header--wysiwyg row">
			<div class="col-sm-8 col-sm-offset-2">
				<h3 class="mbr-header__text" style="text-align: center;">Quests</h3>

			</div>
		</div>
	</div>


</section>

<section
	class="content-2 col-4"	id="slider-38" style="background-color: rgb(159, 159, 159);">
	<div class="container">
		
						<div class="row">

							<div class="thumbnail" ng-repeat="ticket in tickets | filter:{developers:hero.username, status:'In Progress'}">
								<div class="image">
									<img class="undefined" src="img/icon/dragon.ico">
								</div>
								<div class="caption" id="ticketDiv">
									<p>{{ticket.jiraId}}</p>
									<p>{{ticket.title | cut:true:50:'...'}}</p>
									<div class="mbr-buttons btn-inverse mbr-buttons--left">
										<a class="mbr-buttons__btn btn btn-lg mbr-btn-default animated"
											data-toggle="modal" data-target="#modal3">View Quest Details</a>
									</div>
								</div>
							</div>
						</div>

	</div>

</section>
<!-- QUESTS MODAL SECTION -->

<div class="modal fade" id="modal3" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="margin-top: 120px">
		<div class="modal-content modal-popup">
			<h3 class="white">Quest Details</h3>

			<div class="content-2 col-2">
				<div class="row">

					<div class="thumbnail">
						<div class="caption">
							<div>
								<h4>[Quest Title]</h4>
							</div>
						</div>
					</div>
					<div class="thumbnail">
						<div class="caption">
							<div>
								<h4>[EXP]</h4>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="content-2 col-2">
				<div class="row" style="align: left;">

					<div class="thumbnail">
						<div class="caption">
							<div>
								<p>[Quest Description]</p>
							</div>
						</div>
					</div>
					<div class="thumbnail">
						<div class="caption">
							<div>
								<p>[Full Quest Detail]: [JIRA LINK]</p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="content-2 col-2">
				<div class="row">

					<div class="thumbnail">
						<div class="caption">
							<div>
								<p>[Other Details]</p>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="mbr-buttons btn-inverse mbr-buttons--center">
				<a class="mbr-buttons__btn btn btn-lg mbr-btn-default animated"
					data-toggle="modal" data-target="#modal2">Begin Quest</a>
			</div>

		</div>
	</div>
</div>


<!-- ACHIEVEMENTS SECTION -->

<section
	class="mbr-section mbr-section--relative mbr-section--fixed-size"
	id="msg-box5-25" style="background-color: rgb(68, 68, 68);">

	<div
		class="mbr-section__container container mbr-section__container--isolated">
		<div class="mbr-header mbr-header--wysiwyg row">
			<div class="col-sm-8 col-sm-offset-2">
				<h3 class="mbr-header__text" style="text-align: center;">Achievements</h3>

			</div>
		</div>
	</div>

</section>


<section
	class="mbr-slider mbr-section mbr-section--no-padding carousel slide"
	data-ride="carousel" data-wrap="true" data-interval="10000"
	id="slider-39" style="background-color: rgb(68, 68, 68);">
	<div class="mbr-section__container">
		<div>

			<div class="carousel-inner" role="listbox"
				style="background-color: rgb(68, 68, 68);">

				<div
					class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item center active"
					style="background-color: rgb(68, 68, 68);">
					<div class="content-2 col-5 container">
						<div class="row">

							<div class="thumbnail">
								<div class="image">
									<img class="undefined" src="img/achievement/iron.png">
								</div>
								<div class="caption">
									<div>
										<h3>DragonSlayer</h3>
									</div>

								</div>
							</div>

							<div class="thumbnail">
								<div class="image">
									<img class="undefined" src="img/achievement/iron.png">
								</div>
								<div class="caption">
									<div>
										<h3>DragonSlayer</h3>
									</div>

								</div>
							</div>

							<div class="thumbnail">
								<div class="image">
									<img class="undefined" src="img/achievement/star.png">
								</div>
								<div class="caption">
									<div>
										<h3>DragonSlayer</h3>
									</div>

								</div>
							</div>

							<div class="thumbnail">
								<div class="image">
									<img class="undefined" src="img/achievement/iron.png">
								</div>
								<div class="caption">
									<div>
										<h3>DragonSlayer</h3>
									</div>

								</div>
							</div>

							<div class="thumbnail">
								<div class="image">
									<img class="undefined" src="img/achievement/star.png">
								</div>
								<div class="caption">
									<div>
										<h3>DragonSlayer</h3>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

				<div
					class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item center"
					style="background-color: rgb(68, 68, 68);">
					<div class="content-2 col-5 container">
						<div class="row">

							<div class="thumbnail">
								<div class="image">
									<img class="undefined" src="img/achievement/iron.png">
								</div>
								<div class="caption">
									<div>
										<h3>DragonSlayer</h3>
									</div>

								</div>
							</div>

							<div class="thumbnail">
								<div class="image">
									<img class="undefined" src="img/achievement/iron.png">
								</div>
								<div class="caption">
									<div>
										<h3>DragonSlayer</h3>
									</div>

								</div>
							</div>

							<div class="thumbnail">
								<div class="image">
									<img class="undefined" src="img/achievement/iron.png">
								</div>
								<div class="caption">
									<div>
										<h3>DragonSlayer</h3>
									</div>

								</div>
							</div>

							<div class="thumbnail">
								<div class="image">
									<img class="undefined" src="img/achievement/star.png">
								</div>
								<div class="caption">
									<div>
										<h3>DragonSlayer</h3>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>


			</div>

			<span data-app-prevent-settings="" class="left mbr-carousel-control"
				role="button" data-slide="prev" data-target="#slider-39">
				<span class="fa fa-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</span>
			<span data-app-prevent-settings="" class="right mbr-carousel-control"
				role="button" data-slide="next" data-target="#slider-39">
				<span class="fa fa-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</span>
		</div>
	</div>

</section>
</div>
</div>
