
<div class="container" style="margin-top: 400px">
	<div class="table">
		<div class="header-text">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="white typed">Game of Codes</h1>
					<span class="typed-cursor">|</span>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12 text-center">
					<a style="font-family: Cardo-Bold; font-size: 20px" href="#"
						data-toggle="modal" data-target="#modal1"
						class="btn btn-gray-fill ripple">Login</a>
				</div>

			</div>

		</div>
	</div>
</div>


<div class="modal fade" id="modal1" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="margin-top: 120px">
		<div class="modal-content modal-popup">
			<h3 class="white">Login</h3>
			<form name="userEntry" class="popup-form">

				<input type="text"
					style="font-family: Cardo-Italic; font-size: 20px"
					class="form-control form-white" placeholder="Username"
					id="username" name="username" ng-model="user.username"
					ng-required="true">

				<div class="error-messages" ng-if="interacted(userEntry.username)"
					ng-messages="userEntry.username.$error">
					<div ng-message="required">What about your username my
						liege...</div>
				</div>

				<input type="password"
					style="font-family: Cardo-Italic; font-size: 20px"
					class="form-control form-white" placeholder="Password"
					id="password" name="password" ng-model="user.password"
					ng-required="true">

				<div class="error-messages" ng-if="interacted(userEntry.password)"
					ng-messages="userEntry.password.$error">
					<div ng-message="required">A password is required my liege...</div>
				</div>
				
				<button type="submit"
					style="font-family: Cardo-Italic; font-size: 20px"
					class="btn btn-submit" ng-click="loginValidate('/home')">Submit</button>
			</form>

		</div>
	</div>
</div>

