<div></div>
<br />
<section>
	<div class="questContainer">
		<div class="questBoard">
			<br> <br> <br>
			<div class="questPanel" ng-controller="ticketsController">
				<div class="row questRow">
					<div class="col-md-3" ng-repeat="ticket in tickets">
						<a id="questBox" data-toggle="modal" data-target="#questModal"
							ng-click="questfilter(ticket.jiraId)">
							<div class="questFragment">
								<div class="questContent">
									<h4 class="questHeader">Quest {{$index + 1}}</h4>
									<span class="jiraID"> {{ticket.jiraId}} </span>
									<p>{{ticket.title}}</p>
									<span class="{{ticket.status.replace(' ', '').toLowerCase()}}">{{ticket.status.toUpperCase()}}</span>
								</div>
							</div>
						</a>


					</div>
				</div>

			</div>

		</div>



	</div>

	<!--  QUESTS MODAL - START -->
	<div class="modal fade" id="questModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog"
			style="margin-top: 100px; min-width: 900px; max-height: 400px;"
			ng-controller="ticketsController">

			<div class="modal-content modal-popup"
				ng-repeat="ticket in tickets | filter:{jiraId:selectedQuest}">
				<h1 class="questHeader questHeaderModal">{{ticket.jiraId}}</h1>
				<div class= "questModalContent">
					<p> {{ticket.title}} </p>
					<hr>
					<p> {{ticket.description}} </p>
					<hr>
					<h5 style="color: white" >Priority: {{ticket.priority}} </h5>
					<h5 style="color: white" >Status: <span class="{{ticket.status.replace(' ', '').toLowerCase()}}"> {{ticket.status}} </span> </h5></h5>
					<h5 style="color: white" > EXP: {{ticket.storyPoints}} </h5>
					<h5 style="color: white" > Quest Origin : <a href="https://almtools/jira/browse/{{ticket.jiraId}}" target="_blank">{{ticket.jiraId}}</a> </h5>
					
				</div>
				

			</div>
		</div>
	</div>
	<!--  QUESTS MODAL - END  -->


</section>