<!DOCTYPE html>
<html ng-app="GameOfCodes">
<head >
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controller/heroes.js"></script>
<meta charset="ISO-8859-1">
<title>Hero CRUD</title>
</head>
<body>

<div  ng-controller="heroesController">
 
           <!-- Table-to-load-the-data Part -->
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
						<th>Story Points</th>
						<th>Level</th>
                        <th><button id="btn-add" class="btn btn-primary btn-xs" ng-click="toggle('add', 0)">Add New Hero</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="hero in heroes">
                        <td>{{ hero.id }}</td>
                        <td>{{ hero.username }}</td>
                        <td>{{ hero.name }}</td>
                        <td>{{ hero.email }}</td>
                        <td>{{ hero.storyPoints }}</td>
						<td>{{ hero.level }}</td>
                        <td>
                            <button class="btn btn-default btn-xs btn-detail" ng-click="toggle('edit', hero.username)">Edit</button>
                            <button class="btn btn-danger btn-xs btn-delete" ng-click="confirmDelete(hero.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- End of Table-to-load-the-data Part -->
            <!-- Modal (Pop up when detail button clicked) -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">{{form_title}}</h4>
                        </div>
                        <div class="modal-body">
                            <form name="frmHeroes" class="form-horizontal" novalidate="">
                            
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Username</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{username}}" 
                                        ng-model="hero.username" ng-required="true">
                                    <span class="help-inline" 
                                        ng-show="frmHeroes.username.$invalid && frmHeroes.username.$touched">Username field is required</span>
                                    </div>
                                </div>
                                <div class="form-group error">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control has-error" id="name" name="name" placeholder="Fullname" value="{{name}}" 
                                        ng-model="hero.name" ng-required="true">
                                        <span class="help-inline" 
                                        ng-show="frmHeroes.name.$invalid && frmHeroes.name.$touched">Name field is required</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" value="{{email}}" 
                                        ng-model="hero.email" ng-required="true">
                                        <span class="help-inline" 
                                        ng-show="frmHeroes.email.$invalid && frmHeroes.email.$touched">Valid Email field is required</span>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btn-save" ng-click="save(modalstate)" ng-disabled="frmHeroes.$invalid">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

</body>
</html>