<!DOCTYPE html>
<html ng-app="GameOfCodes">
<head >
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" 
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/tickets.js"></script>
<meta charset="ISO-8859-1">
<title>Tickets CRUD</title>
</head>
<body>

<div  ng-controller="ticketsController">
 
           <!-- Table-to-load-the-data Part -->
            <table class="table">
                <thead>
                    <tr>
						<th>ID</th>
                        <th>Jira ID</th>
                        <th>Title</th>
                        <th>Date Started</th>
                        <th>Date Verified</th>
                        <th>Status</th>
                        <th>Severity</th>
                        <th>Priority</th>
                        <th>Date End</th>
                        <th>Developers</th>
                        <th>Story Points</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ticket in tickets">
  						<td>{{ ticket.id }}</td>
                        <td>{{ ticket.jiraId }}</td>
						<td>{{ ticket.title }}</td>
						<td>{{ ticket.dateStarted }}</td>
						<td>{{ ticket.dateVerified }}</td>
						<td>{{ ticket.status }}</td>
						<td>{{ ticket.severity }}</td>
						<td>{{ ticket.priority }}</td>
						<td>{{ ticket.dateEnd }}</td>
						<td>{{ ticket.developers }}</td>
						<td>{{ ticket.storyPoints }}</td>
                        <td>
                            <button class="btn btn-danger btn-xs btn-delete" ng-click="confirmDelete(ticket.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
</html>